*{

    margin: 0px;
    padding: 0px;

}

.bot{
    display: flex;   
    left: 500px;
    top: 500px;
    justify-content: center;
    margin-top: 100px;
    
}


.box{

    height: 250px;
    width: 500px;
    background-color: green;
    border: 10px outset black;
    position: relative;
}


.cercle img{

    height: 150px;
    width: 150px;
    border: 10px solid #ec0a0a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
   



}



   



